# Python bytecode
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
.env/

# Flask instance & SQLite DBs
instance/
*.sqlite3
*.db

# Editor/IDE folders
.vscode/
.idea/

# OS junk files
.DS_Store
Thumbs.db

# Environment variable file
.env

practice.txt